*{padding: 0; margin: 0;}

body{
    background: black; 
    background-image: url(./heart.png);
    background-position: top;
    background-size: 30px;
}
.screen{width: 50%; height: 100%; margin: 0 auto; background-color: #F9B5D0;}

 
.heart{display: flex; position: fixed; margin: 5px;}
.heart div{ background-color: #FF597B;  cursor: pointer;}
.heart img{position: absolute; visibility: hidden;}
.heart .bolt{ width: 30px; height: 30px; opacity: 0.6; left: 20px; top: 15px;}
.heart .protector{width: 120px; height: 120px; opacity: 0.6; left: -30px; top: -30px;}
.heart .light{width: 1500px; height: 1500px; opacity: 0.3; top: -350px; left: -520px;}
.heart .lighto{width: 1500px; height: 1500px; opacity: 0.3; top: -350px; left: -910px; transform: scaleX(-1);}
.circle {border: 1px solid #FF597B; width: 41px; height: 40px; border-radius: 50%;}
.rect{border: 1px solid #FF597B; width: 40px; height: 40px; rotate: 45deg;}

#first{position: relative; left: 0px;}
#second{position: relative; right: 13px;}
#third{position: relative; right: 70px; top: 15px;}
#bubble2{position: relative; width: 39px; height: 30px; border-radius: 50%; background-color: rgb(244, 183, 193, 0.4); right: 128px; top: 1px; rotate: -25deg;}
#bubble{position: relative; width: 20px; height: 10px; border-radius: 50%; background-color: rgb(255, 254, 254, 0.7); right: 160px; top: 5px; rotate: -25deg;}

.top{text-align: center;}
.top h1{margin-bottom: 30px;}

.middle{margin-top: 400px; text-align: center;}

.bottom{ margin-top: 410px;}
.bottom p{padding: 10px;}
#disclaimer{font-size: 7px;}

.reload{color: blueviolet; cursor: pointer;}



@media screen and (max-width: 850px) {
    .top h1{font-size: large;}
    .middle #person1{width: 80px;}
    .middle #person2{width: 80px;}
}
